
.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .thumbnail-item:hover .play-button-overlay {
    opacity: 1;
  }
  
  .play-button-overlay i {
    font-size: 40px;
    /* color: #fff; */
    color: orange;
    cursor: pointer;
  }
  

.video-player {
  width: 100%;
  height: 70vh;
  max-height: 480px;
  min-height: 260px;
  background: #000; /* prevents white flashes */
  border-radius: 8px;
  overflow: hidden;
}

.video-player video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

  /* Tablet view */
@media (max-width: 768px) {
  .play-button-overlay {
    display: none;
  }
}
